.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;

}
h1{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
}
.box1,.box2{
    padding: 2rem;
    text-align: center;
}
.fa-space-shuttle{
    transform: rotate(-90deg);
    font-size: 5rem;
    padding: 2rem;
}